@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-ink-50 text-ink-800 font-sans antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  *::selection {
    @apply bg-brand-100 text-brand-700;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-ink-200 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
